html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
* {
	margin: 0; padding: 0; border: 0; box-sizing: border-box;
}
.attribution{
  padding-top: 100px;
}
.top{
  display: flex;
  width: 100%;
}
.bottom{
  width: 100%;
  display: flex;
}
h1{
  font-weight: 700;
}
.text {
  font-family: 'Spartan', sans-serif;
  font-size: 14px 40px;
  color: hsl(300, 43%, 22%);
  width: 50%;
}
.star{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.star-item {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  border-radius: 9px;
  background: hsl(300, 24%, 95%);
  padding: 20px 48px;
  margin: 20px;
  display: flex;
}
.star1{ 
  right: 96px;
}
.star2{
  right: 48px;
}
.klijent1{
  height: 200px;
  width: 33%;
  background-color:  hsl(300, 43%, 22%);
  border-radius: 5px;
}
.user{
  height: 50%;
  width: 100%;
  display: flex;
}
.user-sl{
  height: 50px;
  width: 50px;
  content: url("images/image-colton.jpg");
  border-radius: 50%;
  margin: 20px;
}
.username{
  width: 100px;
  height: 50px;
  margin: 25px;
  margin-left: 0;
}
.card-user-name{
  color: hsl(300, 24%, 95%);
}
.card-user-desc{
  color: #95487e;
}
.kltext{
  color: hsl(300, 24%, 95%);
  bottom: 35px;
  margin: 0 10px;
  padding: 5px;
}
.klijent2{
  height: 200px;
  width: 33%;
  background-color:  hsl(300, 43%, 22%);
  border-radius: 5px;
  margin: 25px 47px;
}
.user2{
  height: 50%;
  width: 100%;
  display: flex;
}
.user-sl2{
  height: 50px;
  width: 50px;
  content: url("images/image-irene.jpg");
  border-radius: 50%;
  margin: 20px;
}
.username2{
  width: 100px;
  height: 50px;
  margin: 25px;
  margin-left: 0;
}
.card-user-name2{
  color: hsl(300, 24%, 95%);
}
.card-user-desc2{
  color: #95487e;
}
.kltext2{
  color: hsl(300, 24%, 95%);
  bottom: 35px;
  margin: 0 10px;
  padding: 5px;
}
.klijent3{
  height: 200px;
  width: 33%;
  background-color:  hsl(300, 43%, 22%);
  border-radius: 5px;
  margin: 50px 0;
}
.user3{
  height: 50%;
  width: 100%;
  display: flex;
}
.user-sl3{
  height: 50px;
  width: 50px;
  content: url("images/image-anne.jpg");
  border-radius: 50%;
  margin: 20px;
}
.username3{
  width: 100px;
  height: 50px;
  margin: 25px;
  margin-left: 0;
}
.card-user-name3{
  color: hsl(300, 24%, 95%);
}
.card-user-desc3{
  color: #95487e;
}
.kltext3{
  color: hsl(300, 24%, 95%);
  bottom: 35px;
  margin: 0 10px;
  padding: 5px;
}
.wraper{  
  height: 100%;
  width: 100%;
  padding: 0 190px;
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
}
.rated1, .rated2, .rated3{
  margin: 0 0 0 20px;
}
@media screen and (max-width: 375px){
  .wraper{
    width: 375px;
    height: 100%;
    padding: 0;
  }
  .top{
    width: 375px;
    height: auto;
    flex-direction: column;
  }
  .bottom{
    width: 375px;
    height: auto;
    flex-direction: column;
  }
  .star{
    width: 100%;
  }
  .star1{
    right: 0;
    margin: 20px 0 0 0;
  }
  .star2{
    right: 0;
    margin: 15px 0 15px 0px;
  }
  .star3{
    right: 0;
    margin: 0 0 20px 0;
  }
  .text{
    text-align: center;
    width: 100%;
  }
  h1{
    text-align: center;
  }
  .klijent1{
    width: 100%;
  }
  .klijent2{
    width: 100%;
    margin: 20px 0 20px 0;
  }
  .klijent3{
    width: 100%;
    margin: 0;
  }
  .star-item{
    flex-direction: column;
    padding: 10px 10px 10px 10px;
  }
  .star-zvezde1, .star-zvezde2, .star-zvezde3{
    text-align: center;
  }
  .rated1, .rated2, .rated3{
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .attribution{
    width: 100%;
  }
}
