@font-face {
    font-family: 'Spartan';
    src: url('/src/assets/fonts/spartan.woff2') format('woff2'),
         url('/src/assets/fonts/spartan.woff') format('woff'),
         url('/src/assets/fonts/spartan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

